* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020a18;
}

.container {
    margin: 0 auto;
    width: 1146px;
}

.header-flex {
    display: flex;
    justify-content: center;
}

.header-link {
    padding: 40px 20px;
    color: #fff;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border: 1px solid transparent;
}

.header-link:hover {
    color: #3a68b8;
    border: 1px solid #3a68b8;
    border-radius: 10px;
}

.header {
    margin-bottom: 160px;
}

.subtitle {
    color: #3a68b8;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    color: #fff;
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}
.dsc {
    color: #fff;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
}
.main-link {
    color: #fff;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #3a68b8;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid transparent;
}

.main-link:hover {
    border: 1px solid #3a68b8;
    color: #3a68b8;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.main-left,
.main-right {
    width: 46%;
}

.main {
    margin-bottom: 200px;
}

.partners{
    margin-bottom: 250px;
}

.ai-right, .ai-left {
    width: 47%;
}
.ai-title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
}
.ai-dsc {
    margin-bottom: 50px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}
.AI{
    margin-bottom: 250px;
}

.grid-title{
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background: #132035;
}
.grid-img{
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
    margin-bottom: 0;
}
.card4{
    grid-column: 1/3;
    grid-row: 2/4;
}
.card4 .grid-img{
    margin-bottom: 60px;
}
.card4 .grid-title{
    margin-bottom: 60px;
}
.grid-cards{
    margin-bottom: 250px;
}
.clients-title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 40px;
}
.clients-dcs {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; 
    margin-bottom: 20px;
}
.clients{
    margin-bottom: 220px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding-right: 75px;
}
.footer-title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}
.footer-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 25px;
}
.footer-link:hover{
    color: #3a68b8;
}
.icon {
    margin-right: 9px;
}
.italic{
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}
.media{
    display: flex;
}
.media-item{
    margin-right: 25px;
}
.media-item:hover{
    scale: 1.1;
}
footer{
    margin-bottom: 25px;
}